
body	{color: black; background: white; }
p:first-child	{color: green; background: white; }
div.two > *:first-child	{color: purple; background: white; }
div.three *:first-child {color: blue; background: white; }
