doc {
    border: 2px solid red ;
}

padding-top {
     display: block ;
     padding-top:10px ;
     border: 1px solid blue ;
}

padding-right {
     display: block ;
     padding-right:10px ;
     border: 1px solid blue ;
}

padding-bottom {
     display: block ;
     padding-bottom:10px ;
     border: 1px solid blue ;
}

padding-left {
     display: block ;
     padding-left:10px ;
     border: 1px solid blue ;
}
