doc, block {
    border: 2px solid red ;
}

margin-top {
     display: block ;
     margin-top:10px;
     border: 1px solid blue ;
}

margin-right {
     display: block ;
     margin-right:10px;
     border: 1px solid blue ;
}

margin-bottom {
     display: block ;
     margin-bottom:10px;
     border: 1px solid blue ;
}

margin-left {
     display: block ;
     margin-left:10px;
     border: 1px solid blue ;
}
