doc {
    border: 2px solid red ;
}

color-rgb     {
     display: block;
     background-color: #8f8;
}
color-rrggbb  {
     display: block;
     background-color: #80ff80;
}
color-integer {
     display: block;
     background-color: rgb(127,255,127);
}
color-percent {
     display: block;
     background-color: rgb(50%, 100%, 50%);
}
