doc {
    border: 2px solid red ;
}

color-aqua {
     display: block;
     color:aqua;
}
color-black {
     display: block;
     color:black;
}
color-blue {
     display: block;
     color:blue;
}
color-fuchsia {
     display: block;
     color:fuchsia;
}
color-gray {
     display: block;
     color:gray;
}
color-green {
     display: block;
     color:green;
}
color-lime {
     display: block;
     color:lime;
}
color-maroon {
     display: block;
     color:maroon;
}
color-navy {
     display: block;
     color:navy;
}
color-olive {
     display: block;
     color:olive;
}
color-purple {
     display: block;
     color:purple;
}
color-red {
     display: block;
     color:red;
}
color-silver {
     display: block;
     color:silver;
}
color-teal {
     display: block;
     color:teal;
}
color-white {
     display: block;
     color:white;
}
color-yellow {
     display: block;
     color:yellow;
}
