doc {
    border: 2px solid red ;
}

* {
    margin-bottom : 10px;
}

border-top {
     display: block ;
     border-top:10px solid green;
     border: 1px solid blue ;
}

border-right {
     display: block ;
     border-right:10px solid green;
     border: 1px solid blue ;
}

border-bottom {
     display: block ;
     border-bottom:10px solid green;
     border: 1px solid blue ;
}

border-left {
     display: block ;
     border-left:10px solid green;
     border: 1px solid blue ;
}
