doc {
    border: 2px solid red ;
}

doc * {
    margin-bottom : 10px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

border-top {
    display: block ;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: green;
}

border-right {
     display: block ;
     border-right-width: 10px;
     border-right-style: solid;
     border-right-color: green;
}

border-bottom {
     display: block ;
     border-bottom-width: 10px;
     border-bottom-style: solid;
     border-bottom-color: green;
}

border-left {
     display: block ;
     border-left-width: 10px;
     border-left-style: solid;
     border-left-color: green;
}
