doc {
    border: 2px solid red ;
}

color-rgb     {
     display: block;
     color: #f00;
}
color-rrggbb  {
     display: block;
     color: #ff0000;
}
color-integer {
     display: block;
     color: rgb(255,0,0);
}
color-percent {
     display: block;
     color: rgb(100%, 0%, 0%);
}

