body > p	{
	color: red;
	background: white;
	}

body>blockquote	{
	color: green;
	background: white;
	}

div ol>li p	{
	color: blue;
	background: white;
	}

test-document>body>div>ul>li	{
	color: purple;
	background: white;
	}

test-document>div>ul>li>em	{ /* no body */
	color: red;
	background: white;
	}

.warn { color : black; background: white; }

.warn>.rant { color: purple; background: white; }

.rant >.note { color: green; background: white; }

.note > .test { color: blue; background: white; }

.first > .second { color: red; }
.first .second { color: green; }

body > div p.process { color: aqua; }
