
BODY, H2, P, DIV { background: white; color: black; }
H2[title]	{color: aqua;}
H2[title=Hello]	{color: blue;}
H2[ title ~= "Hello" ]	{font-family: sans-serif;}
H2[title~= "World"]	{color: green; }
H2[title ~ = "World"] { color: red; } /* this is invalid; does nothing */
P[lang="en"]	{font-family: sans-serif;}
P[lang= "en-US" ]	{text-transform: capitalize;}
P[lang |=en]	{color: purple; }
DIV[lang|="en"] { color: green; }
DIV[title="Test"]	{ color: red ! important; }
DIV[ title= "Test One"]	{ color: blue; }
DIV[title=Test One] { color: red; } /* this is invalid; does nothing */
DIV[title~="Test"]	{ background-color: yellow; }
DIV[title~="Test"][title~="Two"]	{ color: maroon; }
DIV[title~="Test"][class="three"]	{ background-color: aqua; }
*[lang=es]	{ color: red; background-color: green; }
