* {
 display : block ;
 /*border :1px solid pink ;*/
 border: none ;
 background-color: #fff;
}


title {
      font-weight:bold ;
      background-color: green ;
      color: black ;
}

block {
      display: block ;
      /*border : 1px solid green ;*/
      border: none ;
      background-color:#eee ;
      font-style: normal;
}

inline {
       display: inline ;
       border: none ;
       margin: 2px ;
}

para {
     display : block ;
     border: none ;
     margin-left: 15px ;	
     background-color:#eee ;
}